* {
  margin:0;
  padding:0;
}

body {
    font-family: 'Rubik', serif;
    font-size: 18px;
    font-weight: 300;
    background-color: hsl(226, 43%, 10%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .flex .dashboard-container {
    display: flex;
    flex-direction: row;
  }

  .dashboard-container .profile {
    display: flex;
    flex-direction: column;
    background: hsl(235, 46%, 20%);
    width: 250px;
    height: 500px;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
  }
  
  .dashboard-container .profile .header {
    background: hsl(235, 45%, 61%);
    width: 100%;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
  }

  .dashboard-container .profile .header .content {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 90px 30px;
  }

  .dashboard-container .profile .header .content img {
    width:75px;
    height:75px;
    border-radius: 50%;
    border: 3px solid hsl(0, 0%, 100%);
  }

  .dashboard-container .profile .header .content .report-for {
    display: flex;
    flex-direction: column;
    margin-top:30px;
  }

  .dashboard-container .profile .header .content .report-for span {
    font-size:13px;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
  }

  .dashboard-container .profile .header .content .report-for h2 {
    font-size:36px;
    margin: 0;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
  }

  .dashboard-container .profile .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: transparent;
    width: 100%;
    height:100%;
    margin: 0 auto;
  }

  .dashboard-container .profile .navigation .content {
    font-size:14px;
    display: flex;
    flex-direction: column;
    padding-left:30px;
  }

  .dashboard-container .profile .navigation .content a {
    color:hsl(235, 45%, 61%);
    text-decoration: none;
    margin: 10px 0;
  }

  .dashboard-container .profile .navigation .content a:hover {
    color:hsl(0, 0%, 100%);
  }

  .dashboard-container .profile .navigation .content .active {
    color:hsl(0, 0%, 100%);
  } 

  .dashboard-container .track {
    display: grid;
    grid-template-columns: repeat(3, 244px);
    grid-gap:20px;
    margin-left:20px;
  }

  .dashboard-container .track .item  {
    font-size: .8em;
    display: flex;
    align-items: end;
    justify-content: center;
    min-height: 3rem;
    background-color: transparent;
    border-radius: 16px;
  }

  .dashboard-container .track .item svg {
    width:20px;
    fill:hsl(0, 0%, 100%);
  }

  .bg-prop {
    background-repeat: no-repeat;
    background-position: top -10px right 10px;
  }

  .dashboard-container .track .tr-work  {
    background-color: hsl(15, 100%, 70%);
    background-image: url('../images/icon-work.svg');
  }

  .dashboard-container .track .tr-play  {
    background-color: hsl(195, 74%, 62%);
    background-image: url('../images/icon-play.svg');
  }

  .dashboard-container .track .tr-study  {
    background-color: hsl(348, 100%, 68%);
    background-image: url('../images/icon-study.svg');
  }

  .dashboard-container .track .tr-exercise  {
    background-color: hsl(145, 58%, 55%);
    background-image: url('../images/icon-exercise.svg');
  }

  .dashboard-container .track .tr-social  {
    background-color: hsl(264, 64%, 52%);
    background-image: url('../images/icon-social.svg');
  }

  .dashboard-container .track .tr-selfcare  {
    background-color: hsl(43, 84%, 65%);
    background-image: url('../images/icon-self-care.svg');
  }


  .dashboard-container .track .item .container  {
    width: 100%;
    background: hsl(235, 46%, 20%);
    height: 80%;
    border-radius: 12px;
  }

  .dashboard-container .track .item .container .header  {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    width:auto;
    padding: 20px 20px 0 20px;
    font-weight: bold;
  }

  .dashboard-container .track .item .container .content  {
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 30px 0 0 20px;
  }

  .dashboard-container .track .item .container .content h3 {
    font-size: 46px;
    font-weight: 100;
  }
  
  .dashboard-container .track .item .container .content p {
    color: hsl(235, 45%, 61%);
    font-size: 13px;
  }


  .attribution { 
    font-size: 11px;
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }

  @media screen and (max-width: 419px) {

    body {
      overflow: scroll;
    }

    .flex {
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    
    .flex .dashboard-container {
      display: flex;
      flex-direction: column;
    }

    .dashboard-container .profile {
      height: auto;
    }

    .dashboard-container .profile .header .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding:30px 10px;
    }
  
    .dashboard-container .profile .header .content img {
      width:50px;
      height:50px;
    }

    .dashboard-container .profile .header .content .report-for {
      margin-top:0px;
      padding:10px;
    }
  
    .dashboard-container .profile .header .content .report-for h2 {
      font-size:18px;
    }

    .dashboard-container .profile .navigation .content {
      font-size:14px;
      display: flex;
      flex-direction: row;
      padding: 10px 0px;
      width: 100%;
      justify-content: space-evenly;
    }

    .dashboard-container .track {
      display: grid;
      grid-template-columns: repeat(1, 250px);
      grid-gap:20px;
      margin-left:0px;
      margin-top:20px;
    }

    .dashboard-container .track .item .container .content  {
      display:flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      padding: 20px 0 40px 0px;
    }
  
    .dashboard-container .track .item .container .content h3 {
      font-size: 20px;
    }

   }